.banner {
    display: flex;
    padding: 0 0 0 60px;
    .left-part {
        padding: 200px 20px 0 40px;
        width: 50%;

      .heading {
        h1 {
            font-weight: 700;
            font-size: 85px;
            color: #f5fbf2;
            margin-bottom: 77px;
          span {
            color: #ffce4e;
          }
        }
      }
  
      .buttons {
        display: flex;
        gap: 48px;
        margin-bottom: 120px;
        .btn {
            font-weight: 600;
            font-size: 28px;
        }
      }
      .numbers {
        display: flex;
        justify-content: space-between;
        .number {
            display: flex;
            flex-direction: column;
            text-align: center;
          h3 {
            font-weight: 700;
            font-size: 62px;
            color: #f5fbf2;
          }
          span {
            font-weight: 400;
            font-size: 24px;
            color: #9b9e9a;
          }
        }
      }
    }
  
    .right-part {
        width: 50%;
        backdrop-filter: blur(30);
        background: rgba(79, 70, 78, 0.45);
        padding: 242px 0 0 63px;
      .card {
        width: 558px;
        height: 718px;
        .top-content {
            margin: 24px 12px;
            background-image: url("../assets/img/info_nft.svg");
            background-size: cover;
            background-repeat: no-repeat;
          .nft-info {
            span {
            }
            h3 {
            }
          }
        }
  
        .bottom-content {
          .artist {
            span {
            }
            span {
            }
          }
  
          .btn {
          }
        }
      }
    }
  }